html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (min-width: 768px) {
  .vws-half-lg {
    margin-left: 6vw;
  }
}
